# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Login to ACR
      inputs:
        command: login
        containerRegistry: ACR
    - task: Docker@2
      displayName: build content-api image and push to ACR
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/content-api/Dockerfile'
        containerRegistry: ACR
        repository: content-api
        tags: |
          $(contentapiimagetag)

    - task: Docker@2
      displayName: build content-init image and push to ACR
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/content-init/Dockerfile'
        containerRegistry: ACR
        repository: content-init
        tags: |
          $(contentinitimagetag)

    - task: Docker@2
      displayName: build content-web image and push to ACR
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/content-web/Dockerfile'
        containerRegistry: ACR
        repository: content-web
        tags: |
          $(contentwebimagetag)

    - task: CopyFiles@2
      displayName: copy content-web deployment yaml 
      inputs:
        SourceFolder: content-web/yaml
        Contents: '*.yml'
        TargetFolder: '$(build.artifactstagingdirectory)/content-web/yaml'
    
    - task: CopyFiles@2
      displayName: copy content-api deployment yaml 
      inputs:
        SourceFolder: content-api/yaml
        Contents: '*.yml'
        TargetFolder: '$(build.artifactstagingdirectory)/content-api/yaml'
        
    